<div class="panel panel-default">
   <div class="panel-heading">
      <h3>{{ contact.name }}</h3>
      <div class="row">
         <div class="col-xs-6">
            <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive">
         </div>
         <div class="col-xs-6 buttons">
            <a class="btn btn-primary" routerLink="edit">Edit</a>
            <a class="btn btn-danger" (click)="onDelete()">Delete</a>
         </div>
      </div>
   </div>
   <div class="panel-body">
      <p><span class="bold">Email:</span> {{ contact.email }} </p>
      <p><span class="bold">Phone:</span> {{ contact.phone }}</p>
      <div class="row " *ngIf="contact.group !== null && contact.group.length > 0">
         <div class="col-sm-12">
            <p class="bold">Group Contacts:</p>
           <cms-contact-item 
           *ngFor="let contact of contact.group;"
           [contact]="contact"
          
            ></cms-contact-item>
         </div>
      </div>
   </div>
</div>