<div class="panel panel-default">
   <div class="panel-heading">
      <h3></h3>
      <div class="row">
         <div class="col-xs-6">
            <img src="" alt="" class="img-responsive">
         </div>
         <div class="col-xs-6 buttons">
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
         </div>
      </div>
   </div>
   <div class="panel-body">
      <p><span class="bold">Email:</span> </p>
      <p><span class="bold">Phone:</span></p>
   </div>
</div>