img {
   max-width: 300px;
   margin-right: 15px;
}

.details {
   display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.details-btns {
   flex-wrap: nowrap;
}